:root {
    background-color:#1F2937;
    margin: 4rem;
    font-family:  Arial ,'Karla';
}

.container {
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

.content-container {
    display: grid;
    gap: 20px;
}

p {
    font-size: 40px;
    color:white;
    font-style:normal;
    font-weight:bold;
    margin-bottom: 10px;                                                
}

#title {
    color:#4ADF86;
    margin-top: 10px;
    margin-bottom: 10px;
}

.discription {
    font-style: normal;
    color:#D5D4D8;
    font-size: 20px;
    font-weight: normal;
}

button{
    font-family: 'Inter', sans-serif;
    color:white;
    width: 191px;
    height: 42px;
    background-color:#10B981 ;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px ;
}

.input-container{
    display: inline-flex;
    gap:20px;    
}

.input-box{
    display: flex;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background-color: #273549;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    margin-top: 20px;
}
input{
    background-color: #273549;
    border:0px solid;
    color: #55F991;
    width: 135px;
    height: 20px;
    max-lines: "15";
    font-size: 16px;
    margin: 0;
}


.copy-btn{
    position:absolute;
    background-color:#10B981;
    text-align: center;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    height: 25px;
    width: 50px;
    margin-top: -72px;
    margin-left:160px ;
    border: #10B981 solid 2px;
}

.copy-btn:hover{
    background-color:#10B981;
    opacity: 0.9;
    transition: 0.3s;
    
}
.copy-btn:active{
    position:absolute;
    font-weight: bold;
    background-color:#10B981;
    text-align: center;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    width: 48px;
    height: 23px;
    margin-top: -70px;
    margin-left:160px ;
    border: none;
}


textarea:focus, input:focus{
    outline: none;
}

hr{
    width: 446px;
    border: solid #2F3E53 1px ;
}

/* Toast message styles */

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


.middle-container{
    display: flex;
    justify-content: space-evenly;
    
}
